
<section class="vh-80" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9  mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0" >
              <div class="col-md-12">
                <div class="card-body p-4">
                  <h3 style="text-align: center;" >Project deatils</h3>
                  <hr class="mt-0 mb-4" >
                  <!-- <div class="row pt-1"> -->
                    <div class="col-12 mb-3 ">
                      <h4>Project Id</h4>
                      <p class="text-muted">{{deal.id}}</p>
                    </div>
                    <div class="col-12 mb-3">
                      <h4>Status</h4>
                      <p class="text-muted">{{deal.state}}</p>
                    </div>
                    <div class="col-12 mb-3">
                        <h4>Description</h4>
                        <p class="text-muted">{{deal.discription}}</p>
                      </div>
                      <div class="col-12 mb-3">
                        <h4>Contact Medium</h4>
                        <p class="text-muted">{{deal.contactMedium}}</p>
                      </div>
                      <div class="col-12 mb-3">
                        <h4>Platform</h4>
                        <p class="text-muted">{{deal.platforms}}</p>
                      </div>
                      <div class="col-12 mb-3">
                        <h4>technology</h4>
                        <p class="text-muted">{{deal.technologies}}</p>
                      </div>
                      <div class="col-12 mb-3">
                        <h4>Integrations</h4>
                        <p class="text-muted">{{deal.integrations}}</p>
                      </div>
                      <div class="col-12 mb-3">
                        <h4>stakeholders</h4>
                        <p class="text-muted">{{deal.stakeholders}}</p>
                      </div>
                      <div class="col-12 mb-3">
                        <h4>Budget</h4>
                        <p class="text-muted">{{deal.budget}}</p>
                      </div>
                  <!-- </div> -->

                  <div class="d-flex " style="justify-content: space-around;">
                    <button [cModalToggle]="mCenteredModal.id" cButton class="btn btn-primary" >Schedule meet</button>
<c-modal #mCenteredModal alignment="center" id="mCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Scheduling meet</h5>
    <!-- <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button> -->
  </c-modal-header>
  <c-modal-body style="display: flex; justify-content: space-around;">
    <input type="date"/>
    <input type="time" name="" id="">
    <input type="text" placeholder="link">
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="mCenteredModal.id" cButton  class="btn btn-danger">
      Close
    </button>
    <button cButton class="btn btn-warning" (click)="meet()">Schedule</button>
  </c-modal-footer>
</c-modal>
<button [cModalToggle]="cCenteredModal.id" cButton class="btn btn-primary" >Schedule call</button>
<c-modal #cCenteredModal alignment="center" id="cCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Scheduling call</h5>
    <!-- <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button> -->
  </c-modal-header>
  <c-modal-body style="display: flex; justify-content: space-around;">
    <input type="date"/>
    <input type="time" name="" id="">
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="cCenteredModal.id" cButton  class="btn btn-danger">
      Close
    </button>
    <button cButton class="btn btn-warning" (click)="call()">Schedule</button>
  </c-modal-footer>
</c-modal>
              
<button class="btn btn-primary" (click)="edit()"> Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>