<!-- <div *ngIf="deal">
    <h1>Deal Details</h1>
    <p><strong>ID:</strong> {{ deal.id }}</p>
    <p><strong>Customer ID:</strong> {{ deal.customerId }}</p>
    <p><strong>State:</strong> {{ deal.state }}</p>
    <p><strong>Description:</strong> {{ deal.discription }}</p>
    <p><strong>Contact Medium:</strong> {{ deal.contactMedium }}</p>
    
    <h3>Platforms</h3>
    <ul>
      <li *ngFor="let platform of deal.platforms">{{ platform }}</li>
    </ul>
    
    <h3>Technologies</h3>
    <ul>
      <li *ngFor="let technology of deal.technologies">{{ technology }}</li>
    </ul>
    
    <h3>Integrations</h3>
    <ul>
      <li *ngFor="let integration of deal.integrations">{{ integration }}</li>
    </ul>
    
    <h3>Stakeholders</h3>
    <ul>
      <li *ngFor="let stakeholder of deal.stakeholders">{{ stakeholder }}</li>
    </ul>
  </div>
  <div *ngIf="!deal">
    <p>No deal details available.</p>
  </div>
   -->

   <section class="vh-80" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-12">
                <div class="card-body p-4">
                  <h3>Project deal deatils</h3>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h4>Project Id</h4>
                      <p class="text-muted">{{deal.id}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h4>Status</h4>
                      <p class="text-muted">{{deal.state}}</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h4>Discription</h4>
                        <p class="text-muted">{{deal.discription}}</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h4>Contact Medium</h4>
                        <p class="text-muted">{{deal.contactMedium}}</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h4>Platform</h4>
                        <p class="text-muted">{{deal.platforms}}</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h4>technology</h4>
                        <p class="text-muted">{{deal.technologies}}</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h4>Integrations</h4>
                        <p class="text-muted">{{deal.integrations}}</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h4>stakeholders</h4>
                        <p class="text-muted">{{deal.stakeholders}}</p>
                      </div>
                  </div>
                  <div class="d-flex" style="justify-content: space-around;">
<button [cModalToggle]="verticallyCenteredModal.id" cButton class="btn btn-primary" >Schedule call</button>
<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Scheduling call</h5>
    <!-- <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button> -->
  </c-modal-header>
  <c-modal-body style="display: flex; justify-content: space-around;">
    <input type="date"/>
    <input type="time" name="" id="">
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredModal.id" cButton  class="btn btn-danger">
      Close
    </button>
    <button cButton class="btn btn-warning" (click)="sch()">Schedule</button>
  </c-modal-footer>
</c-modal>
                    <button class="btn btn-warning" (click)="acc()"> Accept</button>
                    <button class="btn btn-danger" (click)="can()"> Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
